/* Arrow breadcrumbs to show form stages */

.arrow-steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 15px;
  width: 100%;
}

.arrow-steps .step {
  background-color: #fff;
  color: #666;
	cursor: default;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
	margin: 0 3px;
	min-width: calc(33% - 5px);
  padding: 10px 10px 10px 30px;
	position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.2s ease;
  z-index: 999999;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
	border-bottom: 17px solid transparent;
  border-left: 17px solid #fff;
  border-top: 19px solid transparent;
  content: " ";
	height: 0;
  position: absolute;
  right: -17px;
  top: 0;
  transition: border-color 0.2s ease;
  width: 0;
  z-index: 2;
}

.arrow-steps .step:before {
  border-left: 17px solid rgb(212, 212, 212);
	left: 0;
  right: auto;
	z-index: 0;
}

.arrow-steps .step:first-child:before {
	border: none;
}

.arrow-steps .step:first-child {
	border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.arrow-steps .step.current {
	background-color: #00b9e4;
  color: #fff;
}

.arrow-steps .step.current:after {
	border-left: 17px solid #00b9e4;	
}
